RentalCarApp/RentalCarDesktop/Connected Services/ListCarsServiceReference/ListCarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readAllInDataTable">
        <s:complexType />
      </s:element>
      <s:element name="readAllInDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readAllInDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readAll">
        <s:complexType />
      </s:element>
      <s:element name="readAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readAllResult" type="tns:ArrayOfCar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Car">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="plate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="readAllInDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:readAllInDataTable" />
  </wsdl:message>
  <wsdl:message name="readAllInDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:readAllInDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="readAllSoapIn">
    <wsdl:part name="parameters" element="tns:readAll" />
  </wsdl:message>
  <wsdl:message name="readAllSoapOut">
    <wsdl:part name="parameters" element="tns:readAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ListCarsServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="readAllInDataTable">
      <wsdl:input message="tns:readAllInDataTableSoapIn" />
      <wsdl:output message="tns:readAllInDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <wsdl:input message="tns:readAllSoapIn" />
      <wsdl:output message="tns:readAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListCarsServiceSoap" type="tns:ListCarsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAllInDataTable">
      <soap:operation soapAction="http://tempuri.org/readAllInDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <soap:operation soapAction="http://tempuri.org/readAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListCarsServiceSoap12" type="tns:ListCarsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAllInDataTable">
      <soap12:operation soapAction="http://tempuri.org/readAllInDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <soap12:operation soapAction="http://tempuri.org/readAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListCarsService">
    <wsdl:port name="ListCarsServiceSoap" binding="tns:ListCarsServiceSoap">
      <soap:address location="https://localhost:44344/ListCarsService.asmx" />
    </wsdl:port>
    <wsdl:port name="ListCarsServiceSoap12" binding="tns:ListCarsServiceSoap12">
      <soap12:address location="https://localhost:44344/ListCarsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>